@import url('https://fonts.googleapis.com/css?family=DM+Mono');

#link:not(.active):hover {
  text-decoration: underline;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'DM Mono';
  color: #9BD1FA;
  background-color: #343A40;
  background-size: cover;
}